apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackett
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jackett
  template:
    metadata:
      labels:
        app: jackett
    spec:
      nodeSelector:
        kubernetes.io/hostname: cranberry
      initContainers:
      {{- with .Values.vpnsidecar }}
      {{- . | toYaml | nindent 6 }}
      {{- end }}
      containers:
        - name: jackett
          image: lscr.io/linuxserver/jackett:v0.22.2123-ls82
          ports:
            - name: http
              containerPort: 9117
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 60
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 1
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: jackett
spec:
  type: NodePort
  selector:
    app: jackett
  ports:
    - protocol: TCP
      port: 9117
      nodePort: 31117