apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  revisionHistoryLimit: 1
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      volumes:
      - name: jellyfin-config
        persistentVolumeClaim:
          claimName: jellyfin-config
      - name: media
        persistentVolumeClaim:
          claimName: media
      - name: transcodes
        emptyDir:
      - name: logs
        emptyDir:
      initContainers:
      - name: create-dirs
        image: busybox
        volumeMounts:
        - name: media
          mountPath: /data
        command: ["/bin/sh", "-c"]
        args:
          - |-
            mkdir -p /data/tvshows
            mkdir -p /data/movies
            chown -R 1000:1000 /data/*
      containers:
      - name: jellyfin
        image: lscr.io/linuxserver/jellyfin:10.10.7ubu2404-ls68
        env:
        - name: TZ
          value: Europe/Amsterdam
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        volumeMounts:
        - name: jellyfin-config
          mountPath: /config
        - name: media
          mountPath: /data
        - name: transcodes
          mountPath: /config/cache/transcodes
        - name: logs
          mountPath: /config/log
        ports:
        - name: http
          containerPort: 8096
        resources:
          requests:
            cpu: "200m"
            memory: "200Mi"
          limits:
            cpu: "2000m"
            memory: "2000Mi"
            gpu.intel.com/i915: "1"
        startupProbe:
          httpGet:
            path: /health
            port: http
          failureThreshold: 20
        readinessProbe:
          httpGet:
            path: /health
            port: http
        livenessProbe:
          httpGet:
            path: /health
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin
spec:
  selector:
    app: jellyfin
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8096
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: nginx
  tls:
  - hosts:
      - "jellyfin.media.cambridge.me"
    secretName: jellyfin-media-cambridge-me-tls
  ingressClassName: nginx
  rules:
  - host: jellyfin.media.cambridge.me
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jellyfin
            port:
              number: 80