apiVersion: apps/v1
kind: Deployment
metadata:
  name: nzbget
spec:
  revisionHistoryLimit: 1
  # do not specify replicas because cronjobs/enable-downloads changes this value
  # if this value is set then argocd will want to set it back after it drifts
  # replicas: 1
  selector:
    matchLabels:
      app: nzbget
  template:
    metadata:
      labels:
        app: nzbget
    spec:
      # TODO: do distributed storage then unlink workload from node
      nodeSelector:
        kubernetes.io/hostname: cranberry
      volumes:
      - name: nzbget-config
        hostPath:
          path: /var/lib/nzbget
      - name: nzbget-downloads
        hostPath:
          path: /var/lib/media/downloads/nzbget
      containers:
      - name: nzbget
        image: lscr.io/linuxserver/nzbget:v25.2-ls204
        securityContext:
          runAsUser: 998
          runAsGroup: 998
        volumeMounts:
        - name: nzbget-config
          mountPath: /config
        - name: nzbget-downloads
          mountPath: /downloads
        ports:
        - name: http
          containerPort: 6789
        # TODO: check resource usage when under heavy load
        resources:
          requests:
            memory: "100Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "1"
        startupProbe:
          httpGet:
            path: /
            port: http
          failureThreshold: 20
        readinessProbe:
          httpGet:
            path: /
            port: http
        livenessProbe:
          httpGet:
            path: /
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: nzbget
spec:
  type: NodePort
  selector:
    app: nzbget
  ports:
  - protocol: TCP
    port: 6789
    nodePort: 30789