apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
spec:
  revisionHistoryLimit: 1
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      securityContext:
        runAsUser: 17232 # 1rada
        runAsGroup: 63342 # media
      nodeSelector:
        gluster-volume-mount/ready: "true"
      volumes:
      - name: radarr-config
        hostPath:
          path: /data/radarr
      - name: media
        hostPath:
          path: /data/media
      initContainers:
      - name: lock-logs-dir
        # https://hub.docker.com/_/busybox
        image: busybox:1.37.0
        volumeMounts:
        - name: radarr-config
          mountPath: /config
        command: ["/bin/sh", "-c"]
        args:
          - |-
            mkdir -p /config/logs
            chmod 400 /config/logs
      containers:
      - name: radarr
        # https://github.com/linuxserver/docker-radarr/pkgs/container/transmission
        image: lscr.io/linuxserver/radarr:5.28.0.10274-ls286
        env:
        - name: TZ
          value: Europe/Amsterdam
        # - name: PUID
        #   value: "1000"
        # - name: PGID
        #   value: "1000"
        - name: Radarr__Log__DbEnabled
          value: "false"
        - name: Radarr__Postgres__Host
          value: postgres-rw.postgres.svc.cluster.local
        - name: Radarr__Postgres__Port
          value: "5432"
        - name: Radarr__Postgres__MainDb
          value: radarr
        - name: Radarr__Postgres__User
          value: radarr
        - name: Radarr__Postgres__Password
          valueFrom:
            secretKeyRef:
              name: postgres-user-radarr
              key: password
        volumeMounts:
        - name: radarr-config
          mountPath: /config
        - name: media
          mountPath: /media
        ports:
        - name: http
          containerPort: 7878
        resources:
          requests:
            cpu: "50m"
            memory: "200Mi"
          limits:
            cpu: "200m"
            memory: "500Mi"
        startupProbe:
          httpGet:
            path: /ping
            port: http
          failureThreshold: 30
        readinessProbe:
          httpGet:
            path: /ping
            port: http
          timeoutSeconds: 5
        livenessProbe:
          httpGet:
            path: /ping
            port: http
          timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: radarr
spec:
  selector:
    app: radarr
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: radarr
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.auth.svc.cluster.local/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://oauth2-proxy.home.cambridge.me/oauth2/start"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
      - "radarr.home.cambridge.me"
    secretName: radarr-home-cambridge-me-tls
  ingressClassName: nginx
  rules:
  - host: radarr.home.cambridge.me
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: radarr
            port:
              name: http
