apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
spec:
  revisionHistoryLimit: 1
  replicas: 1
  strategy:
    type: Recreate # because hostPath volume
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      # TODO: do distributed storage then unlink workload from node
      nodeSelector:
        kubernetes.io/hostname: cranberry
      volumes:
      - name: sonarr-config
        hostPath:
          path: /var/lib/sonarr/.config/NzbDrone
      - name: sonarr-tvshows
        hostPath:
          path: /var/lib/media/tvshows
      - name: sonarr-downloads
        hostPath:
          path: /var/lib/media/downloads
      containers:
      - name: sonarr
        image: lscr.io/linuxserver/sonarr:4.0.15.2941-ls287
        securityContext:
          runAsUser: 998
          runAsGroup: 998
        volumeMounts:
        - name: sonarr-config
          mountPath: /config
        - name: sonarr-tvshows
          mountPath: /tvshows
        - name: sonarr-downloads
          mountPath: /downloads
        ports:
        - name: http
          containerPort: 8989
        resources:
          requests:
            cpu: "50m"
            memory: "200Mi"
          limits:
            cpu: "200m"
            memory: "300Mi"
        startupProbe:
          httpGet:
            path: /ping
            port: http
          failureThreshold: 20
        readinessProbe:
          httpGet:
            path: /ping
            port: http
        livenessProbe:
          httpGet:
            path: /ping
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: sonarr
spec:
  selector:
    app: sonarr
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8989
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: sonarr
spec:
  parentRefs:
    - namespace: kube-system
      name: traefik-gateway
  hostnames:
    - "sonarr.media.cambridge.me"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: sonarr
          port: 80