apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
  namespace: media
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      # TODO: do distributed storage then unlink workload from node
      nodeSelector:
        kubernetes.io/hostname: cranberry
      volumes:
      - name: gluetun-port-forwarding
        emptyDir:
      - name: transmission-config
        hostPath:
          path: /var/lib/transmission/.config/transmission-daemon
      - name: transmission-downloads
        hostPath:
          path: /var/lib/media/downloads/transmission
      initContainers:
      {{- with .Values.vpnsidecar }}
      {{- . | toYaml | nindent 6 }}
      {{- end }}
      containers:
      - name: sync-forwarded-port
        image: lscr.io/linuxserver/transmission:4.0.6-r4-ls300
        env:
        - name: TR_AUTH
          value: "transmission:password"
        command: ["/bin/sh", "-c"]
        args:
        - |-
          set -e
          while true; do
            sleep 60;
            port=$(cat /gluetun-port-forwarding/port || echo 0)
            if [[ "$port" == 0 ]]; then
              continue
            fi
            transmission-remote --authenv --port $port
            echo "Updated with port: $port"
          done;
        volumeMounts:
        - name: gluetun-port-forwarding
          mountPath: /gluetun-port-forwarding
        resources:
          requests:
            memory: "2Mi"
            cpu: "10m"
          limits:
            memory: "10Mi"
            cpu: "100m"
      - name: transmission
        image: lscr.io/linuxserver/transmission:4.0.6-r4-ls300
        volumeMounts:
        - name: transmission-config
          mountPath: /config
        - name: transmission-downloads
          mountPath: /downloads
        ports:
        - name: http
          containerPort: 9091
        resources:
          # TODO: check resource usage when under heavy load
          requests:
            memory: "100Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "1"
        startupProbe:
          httpGet:
            path: /
            port: http
          failureThreshold: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
        livenessProbe:
          httpGet:
            path: /
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: transmission
spec:
  type: NodePort
  selector:
    app: transmission
  ports:
  - protocol: TCP
    port: 9091
    nodePort: 31091