apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      # TODO: do distributed storage then unlink workload from node
      nodeSelector:
        kubernetes.io/hostname: cranberry
      # volumes:
      # - name: transmission
      #   hostPath:
      #     path: /var/lib/transmission/
      initContainers:
      {{- with .Values.vpnsidecar }}
      {{- . | toYaml | nindent 6 }}
      {{- end }}
      containers:
      - name: transmission
        image: lscr.io/linuxserver/transmission:4.0.6-r4-ls300
        # volumeMounts:
        # - name: transmission
        #   mountPath: /config
        ports:
        - name: http
          containerPort: 9091
---
apiVersion: v1
kind: Service
metadata:
  name: transmission
spec:
  type: NodePort
  selector:
    app: transmission
  ports:
  - protocol: TCP
    port: 9091
    nodePort: 31091