apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  selector:
    app: blueberry-proxy
  ports:
  - protocol: TCP
    port: 80
    targetPort: 14723
---
apiVersion: v1
kind: Service
metadata:
  name: loki
spec:
  selector:
    app: blueberry-proxy
  ports:
  - protocol: TCP
    port: 80
    targetPort: 13100
---
apiVersion: v1
kind: Service
metadata:
  name: esphome
spec:
  selector:
    app: blueberry-proxy
  ports:
  - protocol: TCP
    port: 80
    targetPort: 16052