# https://longhorn.io/docs/archives/1.1.0/advanced-resources/rwx-workloads/#migration-from-previous-external-provisioner

apiVersion: batch/v1
kind: Job
metadata:
  namespace: media  # namespace where the PVC's exist
  name: volume-migration
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 9999
  template:
    metadata:
      name: volume-migration
      labels:
        name: volume-migration
    spec:
      restartPolicy: Never
      containers:
        - name: volume-migration
          image: nixery.dev/shell/rsync
          tty: true
          command: [ "/bin/sh" ]
          args: [ "-c", "rsync --size-only --bwlimit=10000 --progress --recursive /mnt/old/ /mnt/new/ && chown -R 1000:1000 /mnt/new/ && echo done" ]
          volumeMounts:
            - name: old-vol
              mountPath: /mnt/old
            - name: new-vol
              mountPath: /mnt/new
      volumes:
        - name: old-vol
          hostPath:
            path: /home/nixos/jellyfin
        - name: new-vol
          persistentVolumeClaim:
            claimName: jellyfin-config