#
# This helm chart installs a default DeschedulerPolicy which cannot be changed
# Weirdly, the documentation shows DeschedulerPolicy as a CR but the helm chart
# creates a ConfigMap where the contents is the YAML for a DeschedulerPolicy CR.
#
# Desires:
# * keep ingress-nginx & metallb-controller on the same node (podAffinity)
# * rebalance workloads across nodes
#

# apiVersion: helm.cattle.io/v1
# kind: HelmChart
# metadata:
#   name: descheduler
#   annotations:
#     argocd.argoproj.io/sync-wave: "0"
#   finalizers:
#   - wrangler.cattle.io/on-helm-chart-remove
# spec:
#   # https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/README.md
#   repo: https://kubernetes-sigs.github.io/descheduler
#   chart: descheduler
#   version: 0.34.0
#   targetNamespace: descheduler
#   createNamespace: true
#   # valuesContent: |-
#   #
