# in theory this is a good solution
# but the longhorn pods still get created with a broken path somehow
# I assume because they get created before the kyverno controller is operating

# apiVersion: kyverno.io/v1
# kind: ClusterPolicy
# metadata:
#   name: longhorn-set-nixos-path
#   annotations:
#     # this needs to be in place before any longhorn pods get created
#     argocd.argoproj.io/sync-wave: "-10"

#     policies.kyverno.io/title: Set Environment Variables from ConfigMap
#     policies.kyverno.io/subject: Pod
#     policies.kyverno.io/category: Other
#     policies.kyverno.io/description: >-
#       Longhorn invokes executables on the host system, and needs
#       to be aware of the host systems PATH. This modifies all
#       pods such that the PATH is explicitly set to support
#       NixOS based systems.
# spec:
#   rules:
#   - name: add-env-vars
#     match:
#       resources:
#         kinds:
#           - Pod
#         namespaces:
#           - longhorn-system
#     mutate:
#       patchStrategicMerge:
#         spec:
#           initContainers:
#           - (name): "*"
#             env:
#               - name: PATH
#                 value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/run/wrappers/bin:/nix/var/nix/profiles/default/bin:/run/current-system/sw/bin
#           containers:
#           - (name): "*"
#             env:
#               - name: PATH
#                 value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/run/wrappers/bin:/nix/var/nix/profiles/default/bin:/run/current-system/sw/bin