apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  finalizers:
  - wrangler.cattle.io/on-helm-chart-remove
spec:
  # https://artifacthub.io/packages/helm/cert-manager/cert-manager
  repo: https://charts.jetstack.io
  chart: cert-manager
  version: v1.18.2
  targetNamespace: cert-manager
  valuesContent: |-
    crds:
      enabled: true
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: robert@cambridge.me
    profile: tlsserver
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      # populated with data automatically
      name: letsencrypt-staging-key
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            # refers to the resource with the given name in the configured ‘cluster resource namespace’, which is set as a flag on the controller component (and defaults to the namespace that cert-manager runs in).
            name: cloudflare-token
            key: token
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    email: robert@cambridge.me
    profile: tlsserver
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      # populated with data automatically
      name: letsencrypt-key
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            # refers to the resource with the given name in the configured ‘cluster resource namespace’, which is set as a flag on the controller component (and defaults to the namespace that cert-manager runs in).
            name: cloudflare-token
            key: token