apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
spec:
  # https://artifacthub.io/packages/helm/cert-manager/cert-manager
  repo: https://charts.jetstack.io
  chart: cert-manager
  version: v1.18.2
  targetNamespace: kube-system
  valuesContent: |-
    crds:
      enabled: true