apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: node-feature-discovery
  finalizers:
  - wrangler.cattle.io/on-helm-chart-remove
spec:
  # https://artifacthub.io/packages/helm/node-feature-discovery/node-feature-discovery
  repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
  chart: node-feature-discovery
  version: v0.18.3
  targetNamespace: node-feature-discovery
  createNamespace: true

  # https://kubernetes-sigs.github.io/node-feature-discovery/v0.17/reference/worker-configuration-reference.html
  # https://www.usb.org/defined-class-codes
  # 02 => CDC (zigbee)
  valuesContent: |-
    worker:
      config:
        sources:
          usb:
            deviceClassWhitelist: ["02"]